@import "tailwindcss";
@source "../../panther";

@import "@uppy/core/dist/style.min.css";
@import "@uppy/dashboard/dist/style.min.css";

@import "../../panther/_303_components/_fixed.css";

@theme {
  --font-*: initial;
  --font-sans: Inter, system-ui, -apple-system, sans-serif;
  --font-mono: Roboto Mono;

  --font-weight-*: initial;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-800: 800;

  --color-transparent: transparent;
  --color-black: #000716;
  --color-white: #ffffff;

  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #cacaca;
  --color-base-content: #2a2a2a;

  --color-primary: #0e706c;
  --color-primary-content: #ffffff;

  --color-neutral: rgb(161, 161, 161);
  --color-neutral-content: #ffffff;

  --color-success: #009f70;
  --color-success-content: #ffffff;

  --color-danger: #f04d44;
  --color-danger-content: #ffffff;

  --radius: 4px;
  --radius-full: 9999px;
}

@layer base {
  /* Inter */
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: block;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }

  /* Inter Black */
  @font-face {
    font-family: "Inter Black";
    src: url("/fonts/Inter-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter Black";
    src: url("/fonts/Inter-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: block;
  }

  /* Inter ExtraBold */
  @font-face {
    font-family: "Inter ExtraBold";
    src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter ExtraBold";
    src: url("/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: block;
  }

  /* Inter ExtraLight */
  @font-face {
    font-family: "Inter ExtraLight";
    src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter ExtraLight";
    src: url("/fonts/Inter-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: block;
  }

  /* Inter Light */
  @font-face {
    font-family: "Inter Light";
    src: url("/fonts/Inter-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter Light";
    src: url("/fonts/Inter-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: block;
  }

  /* Inter Medium */
  @font-face {
    font-family: "Inter Medium";
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter Medium";
    src: url("/fonts/Inter-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: block;
  }

  /* Inter SemiBold */
  @font-face {
    font-family: "Inter SemiBold";
    src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter SemiBold";
    src: url("/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: block;
  }

  /* Inter Thin */
  @font-face {
    font-family: "Inter Thin";
    src: url("/fonts/Inter-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Inter Thin";
    src: url("/fonts/Inter-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: block;
  }

  /* Roboto */
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }

  /* Roboto Condensed */
  @font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto-condensed-v25-latin-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto-condensed-v25-latin-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto-condensed-v25-latin-700italic.woff2")
      format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }

  /* Roboto Mono */
  @font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  html,
  body,
  #app {
    @apply bg-base-100 text-base-content m-0 h-full w-full p-0 font-sans;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    font-variant-numeric: tabular-nums;
    /* font-feature-settings: "liga" 0;
    font-variant-ligatures: no-common-ligatures; */
  }
}

@utility ui-running {
  color: white !important;
  animation: 0.7s linear infinite;
  animation-name: uiRunningAnimation;
  background: linear-gradient(
    to bottom,
    #426680,
    #426680 50%,
    #1e4a66 50%,
    #1e4a66
  );
  background-size: 100% 40px;
}

@keyframes uiRunningAnimation {
  from {
    background-position: 0 -40px;
  }
  to {
    background-position: 0 0;
  }
}
